/* -_- RESET THE CSS -_- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(19, 225, 243);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -_- MY STYLES -_- */

/* Main */
main {
	background-color: #fff;
	max-width: 95%;
	margin: 2% auto;
	font-size: 1em;
}

h1, h2 {
	color:rgb(19, 225, 243);
	font-size: 1.5em;
}

/* Navigation Bar */
nav {
	padding: 10px 0 10px;
	display: flex;
	box-sizing: border-box;
	background-color: whitesmoke;
}

/* --- logo --- */
#logo {
	width: 75%;
	text-align: center;
}

/* --- links --- */
ul {
	display: flex;
	justify-content: center;
	width: 50%;
}

nav ul li {
	display: flex;
	justify-content: space-evenly;
	width: 15%;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a:hover {
	color:rgb(19, 225, 243);
	border-bottom: 2px solid rgb(19, 225, 243);
	padding-bottom: 1px;
}

/* Sections */

/* --Home-- */
#home {
	background: no-repeat center/80% url("images/products.png");
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 2;
}


/* --Products-- */
#products {
	background-color: #f07d6b;
	/* height: 500px; */
	height: 100vh;
}

/* --Services-- */
#services {
	background-color: #ea4e36;
	height: 100vh;
}

/* --Contacts-- */
#contacts {
	background-color: #e94128;
	height: 100vh;
}